[submodule "dotfiles/.vim/bundle/pathogen.vim"]
	path = dotfiles/.vim/bundle/pathogen.vim
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/.vim/bundle/vim-pathogen"]
	path = dotfiles/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/FuzzyFinder"]
	path = dotfiles/.vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "dotfiles/.vim/bundle/ack"]
	path = dotfiles/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
