snippet pp "Expand comments" !b
pp '---------------------------------------------------------'
pp ${1}
pp '---------------------------------------------------------'
endsnippet

snippet -- "erb print tag" !b
<%= %{1} %>
endsnippet

snippet __ "erb tag" !b
<% %{1} %>
endsnippet
